
                <section>
                    <h2>Crie sua própria sala.</h2>
                    <form action="/create-room" method="POST">
                        <label class="sr-only" for="room-pass"> Insira uma senha</label>  <!-- Essa linha fica invisivel, serve mais 
                        para mecânicas de leitura para deficientes visuais(o leitor lê esse texto mesmo ele
                        invisivel, coisa q o placeholder não faz) -->
                        <input type="password" name="password" id="room-pass" placeholder="Insira uma senha"/>
                        <button>
                            <img src="./images/users-white.svg" alt="Criar sala">
                            Criar sala</button>
                        </form>
                    </section>
               